export(gllim)
export(gllim_inverse_map)
export(emgm)
export(sllim)
export(sllim_inverse_map)
export(bllim)
export(preprocess_data)
import(MASS)
import(abind)
import(corpcor)
import(Matrix)
import(igraph)
import(capushe)
import(glmnet)
import(randomForest)
import(e1071)
import(mda)
import(progress)
import(mixOmics)
importFrom("stats", "cov", "kmeans", "model.matrix", "predict", "quantile")
importFrom("graphics", "abline", "axis", "lines", "par")