export(gllim)
export(gllim_inverse_map)
export(emgm)
export(sllim)
export(sllim_inverse_map)
export(bllim)
import(MASS)
import(abind)
import(corpcor)
import(Matrix)
import(igraph)
import(capushe)
importFrom("stats", "cov")
importFrom("graphics", "abline", "axis", "lines", "par")