export(gllim)
export(gllim_inverse_map)
export(emgm)
export(sllim)
export(sllim_inverse_map)
export(bllim)
export(preprocess_data)
export(createFolds_xllim)
export(Kfoldcv_xllim)
export(mean_cv)
export(randomForest_cv)
export(lasso_cv)
export(mars_cv)
export(svm_cv)
export(bllim_cv)
import(MASS)
import(abind)
import(corpcor)
import(Matrix)
import(igraph)
import(capushe)
import(glmnet)
import(randomForest)
import(e1071)
import(mda)
import(progress)
importFrom("stats", "cov", "kmeans", "model.matrix", "predict", "quantile")
importFrom("graphics", "abline", "axis", "lines", "par")